dom-module#game-app
  link(rel="stylesheet", href="./screen-login.css")
  template
    .fit.layout.vertical.center-center
      div
        firebase-auth#firebaseLogin(
          user="{{user}}",
          status-known="{{statusKnown}}",
          location="https://paperships.firebaseio.com",
          provider="google",
          on-login="loginHandler")
        paper-button(on-tap="login") login
  script(src="./screen-login.js")
